*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#root{
    background-color: #659dfe;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleTodo{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
    width: 96%;
    max-width: 25rem;
    gap: 0.2rem;
}

.titleTodo>h1{
    font-weight: 900;
}
.titleTodo>span{
    font-size: 2rem;
}

.container{
    background-color: #fff;
    width: 96%;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    min-height: 550px;
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.formTodo{
    background-color: #d1d1d1;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.inputTodo{
    border: none;
    background-color: transparent;
    padding-left: 1rem;
    outline: none;
    width: 90%;
}
.btnTodo{
    background-color: #659dfe;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 800;
    color: white;
}
.btnTodo:hover{
    opacity: 0.8;
}
.todoList{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
}
.itemList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
}
.itemList>label, input{
    cursor: pointer;
}
.itemList>img{
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s ease;
}
.itemList>img:hover{
    opacity: 1;
}
.checkTodo{
    margin-right: 1rem;
}
.lineThrough{
    text-decoration: line-through;
    opacity: 0.8;
}
